	@charset "utf-8";
	/* CSS Geral BASIC */

/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'yanone_kaffeesatzlight';
font-family: 'MyriadPro-Regular';
font-family: 'news701_btbold';
font-family: 'Signika', sans-serif;



font-family:"Lato Black";
font-family: 'Lato', sans-serif;

*/

@import url('fonts.css');



/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none; }
/* End Reset */



.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px !important;; }
.top30 { margin-top:30px !important;; }
.top35 { margin-top:35px !important;; }
.top40 { margin-top:40px !important; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top115 { margin-top:115px; }
.top120 { margin-top:120px; }
.top130 { margin-top:130px; }
.top140 { margin-top:140px; }
.top150 { margin-top:150px; }
.top170 { margin-top:170px; }
.top220 { margin-top:220px; }
.top195 { margin-top:195px; }
.top200 { margin-top:200px; }
.top210 { margin-top:210px; }
.top240 { margin-top:240px; }
.top270 { margin-top:270px; }
.top350 { margin-top:350px; }
.top395 { margin-top:395px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom90 { margin-bottom:90px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }
.bottom180 { margin-bottom:180px; }
.bottom200 { margin-bottom:200px; }
.bottom280 { margin-bottom:280px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left81 { margin-left:81px; }
.left130 { margin-left:130px; }
.left270 { margin-left:270px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right22 { margin-right:22px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right90 { margin-right:90px; }
.right100 { margin-right:100px; }
.right130 { margin-right:130px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt300 { padding-top:300px; }

.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }

.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb200 { padding-bottom:200px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }


.p10 { padding:10px; }
.p20 { padding:20px; }


.container{
	width: 1170px !important;
}


.container-fluid{
	max-width: 1920px !important;
}



.input100{
	width: 100% !important;
}


.lato-black{
	font-family:"Lato Black";
}



body{
	background: #ededed;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}


h1{
	font-size: 30px;
	color: #010101;
	font-weight: 300;
}

h1 span{
	font-size: 25px;
	color: #010101;
	font-weight: 700;
}



h2{
	font-size: 17px;
	color: #fff;
	font-weight: 300;


}

h3{
	border-right: 2px solid #fff;
	font-size: 40px;
	color: #fff;
	text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.75);
	font-family:"Lato Black";
}

h3 span{

}


h4{
	font-family:"Lato Black";
	font-size: 25px;
	color: #fff;
}

h4 span{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 17px;
}

h5{
	font-family:"Lato Black";
	font-size: 30px;
	color: #000;
}

.position{
	position: relative;
}

h5 span{
	font-size: 20px;

}

h6 {
	font-weight: 100;
	color: #000;
	font-size: 35px;
	text-decoration: underline;
}


p{
	font-weight: 300;
	font-size: 20px;
	color: #010101;
	text-align: justify;
}

a:hover{
	text-decoration: none !important;
}


label span{
	font-family: 'Lato', sans-serif;
}


/**
============================================
					rodape
============================================
*/
.rodape-cinza{
	background: #282828;
}

.rodape-preto{
	background: #000;
}

.rodape-preto h5{
	color: #fff;
	font-weight: 300;
}


.menu-rodape li a {
	color: #fff;
	font-size: 19px;
	font-weight: 300;
	margin-right: 20px;
}

.menu-rodape {
	list-style: none;
	padding: 0px;
}

.bg-menu-rodape {
	border-bottom: 1px solid #fff;
	padding-bottom: 15px;
}

.menu-rodape li {
	float: left;
}

.menu-rodape li a {
	color: #fff;
	font-size: 19px;
	font-weight: 300;
	margin-right: 20px;
}

.rodape-cinza p {
	font-weight: 300;
	color: #fff;
	font-weight: 300;
	font-size: 19px;
}

.rodape-cinza p i {
	margin-right: 10px;
}

/**
============================================
					rodape
============================================
*/



/**
============================================
					topo
============================================
*/

/*usando bagkground com duas imagens*/

.menu .active i, .menu a:hover, .menu .active span{
	color: #fff;
}


.menu-home{
	padding-top: 39px;
	background: url(../imgs/icon-home.png) center 28px no-repeat;
	border-radius: 5px;
}


.menu-home:hover,.menu-home.active{
	padding-top: 39px;
	background: #343434 url(../imgs/icon-home1.png) center 28px no-repeat;
}

.menu-empresa{
	padding-top: 39px;
	background: url(../imgs/icon-empresa.png) center 28px no-repeat;
	border-radius: 5px;
}


.menu-empresa:hover,.menu-empresa.active{
	padding-top: 39px;
	background: #343434 url(../imgs/icon-empresa-hover.png) center 28px no-repeat;
}

.menu-produtos{
	padding-top: 39px;
	background: url(../imgs/icon-produto.png) center 28px no-repeat;
	border-radius: 5px;
}


.menu-produtos:hover,.menu-produtos.active{
	padding-top: 39px;
	background: #343434 url(../imgs/icon-produto1.png) center 28px no-repeat;
}



.menu-dicas{
	padding-top: 39px;
	background: url(../imgs/icon-dicas.png) center 28px no-repeat;
	border-radius: 5px;
}


.menu-dicas:hover,.menu-dicas.active{
	padding-top: 39px;
	background: #343434 url(../imgs/icon-dicas1.png) center 28px no-repeat;
}

.menu-especificacoes{
	padding-top: 39px;
	background: url(../imgs/icon-especificacoes.png) center 28px no-repeat;
	border-radius: 5px;
}


.menu-especificacoes:hover,.menu-especificacoes.active{
	padding-top: 39px;
	background: #343434 url(../imgs/icon-especificacoes1.png) center 28px no-repeat;
}

.menu-portifolio{
	padding-top: 39px;
	background: url(../imgs/icon-portifolio.png) center 28px no-repeat;
	border-radius: 5px;
}


.menu-portifolio:hover,.menu-portifolio.active{
	padding-top: 39px;
	background: #343434 url(../imgs/icon-portifolio1.png) center 28px no-repeat;
}


.menu-contatos{
	padding-top: 39px;
	background: url(../imgs/icon-contatos.png) center 28px no-repeat;
	border-radius: 5px;
}


.menu-contatos:hover,.menu-contatos.active{
	padding-top: 39px;
	background: #343434 url(../imgs/icon-contatos1.png) center 28px no-repeat;
}

.menu li a{
	font-size: 17px;
	color: #000;
	font-weight: 300;
}


.menu li{
	margin-right: 20px;
}

.nav>li>a:hover, .nav>li>a:focus{
	background: none !important;
}


/*usando bagkground com duas imagens*/

.bg-contatos{
	height: 65px;
	background: #343434;
	z-index: 10;
	padding: 0px;
	position: relative;
}

.btn-transparente-claro,.btn-transparente-claro:hover {
	background: url(../imgs/bg-transparente.png);
	border-radius: 0px;
	color: #fff;
	padding: 17px 24px;
}

.btn-transparente-claro2, .btn-transparente-claro2:hover {
	background: url(../imgs/bg-transparente.png);
	color: #fff;
}

.form-busca-topo .navbar-form {
	width: 300px;
}

.btn-meu-orcamento{
	cursor: pointer;
}



.btn-transparente,.btn-transparente:hover {
	background: url(../imgs/bg-transparente.png);
	color: #fff;
}


.btn-transparente-2, .btn-transparente-2:hover {
	background: none;
	color: #fff;
	border: 1px solid #fff;
}

.topo-meu-orcamento {
	background: #fff;
	width: 470px;
	padding: 0px 10px;
}
/**
============================================
					topo
============================================
*/

/**
============================================
					home
============================================
*/

.slider-index{
	margin-top: -30px;
}

.slider-index h1 {
	text-shadow: 1px -1px 5px rgba(0, 0, 0, 0.76);
	font-weight: 700;
	color: #fff;
	font-size: 35px;
}

.btn-transparente,.btn-transparente:hover,.btn-transparente:focus {
	background: url(../imgs/bg-transparente.png);
	color: #fff;
	border-radius: 4px;
	border: 2px solid #fff;
	color: #fff;
	font-family:"Lato Black";
	font-size: 16px;
	margin-top: 30px;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.slider-index .carousel li {
	margin-right: 8px !important;
}

.padding0{
	padding: 0px !important;
}


/* Carousel base class */
.slider-index .carousel {
	height: 415px;
}
/* Since positioning the image, we need to help out the caption */
.slider-index .carousel-caption {
	text-align: left;
	z-index: 10;
	bottom: 160px;
}

/* Declare heights because of positioning of img element */
.slider-index .carousel .item {
	height: 415px;
	background-color: #777;
}


.slider-index .carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 415px;
}

.slider-index .carousel-indicators{
	bottom: 130px !important;
}


.slider-index .carousel-indicators li{
	background: #fff;
	border-radius: 50%;
	border: none;
	color: #fff;
	height: 25px;
	opacity: 0.5;
	width: 25px;
}

.slider-index .carousel-indicators .active{
	opacity: 1;
	background: #fff;
}




.slider-index .carousel-indicators {
	position: absolute;
	bottom: 400px;
	left: 54%;
	z-index: 15;
	width: 20%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none;
}

.carousel-caption {
	right: 0%;
	left: 0%;
	padding-bottom: 30px;
}

.controles{
	background: none;
	color: #fff;
	font-size: 20px;
	height: 50px;
	opacity: 1;
	text-align: center;
	top: 241px;
	width: 50px;
}

.controles.right {
	background: none;
	right: 50%;
}

.controles.left {
	background: none;
	left: 20%;
}


.sombra-categorias{
	margin-top:-93px;
	background:  #737373;
}

/*==================================================
 * Effect 2
 * ===============================================*/
 .effect2
 {
 	position: relative;
 }
 .effect2:before, .effect2:after
 {
 	z-index: -1;
 	position: absolute;
 	content: "";
 	bottom: 15px;
 	left: 8px;
 	width: 50%;
 	top: 80%;
 	max-width:300px;
 	background: #777;
 	box-shadow: 0 15px 10px #777;
 	transform: rotate(-3deg);
 }
 .effect2:after
 {
 	transform: rotate(3deg);
 	right: 10px;
 	left: auto;
 }


 .sombra-categorias .touchcarousel .touchcarousel-item {
 	margin: 0px;
 	padding: 0px;
 	float: left;
 }

 .sombra-categorias .touchcarousel {
 	position: relative;
 	width: 100%;
 	height: 200px;
 	overflow: hidden;
 }

 .sombra-branca{
 	-webkit-box-shadow: inset 10px 10px 191px 0px rgba(255,255,255,1);
 	-moz-box-shadow: inset 10px 10px 191px 0px rgba(255,255,255,1);
 	box-shadow: inset 10px 10px 191px 0px rgba(255,255,255,1);
 }




 .lista-categorias li.destaque{
 	background: #00aff2;
 }

 .lista-categorias li.destaque a{
 	color: #fff;
 }


 .lista-categorias li a{
 	color: #000;
 	font-size: 15px;
 }




 #carousel-gallery .touchcarousel-container li.touchcarousel-item {
 	float:left;
 	position: relative;
 	width: 245px;
 	height: 100%;
 	margin: 0px;
 	padding: 0px;
 	text-align: center;
 }


 .touchcarousel{
 	height: 149px !important;
 }


 .touchcarousel .tc-paging-container{
 	margin-top: 10px !important;
 }


 .tc-paging-container .tc-paging-item{
 	width: 20px;
 	height: 20px;
 	background: #a8dcf1;
 	border-radius: 50%;
 	margin-right: 5px;
 }

 .touchcarousel .tc-paging-item.current{
 	background: #00aff2;
 }


 .bg-lateral-barra {
 	background: url(../imgs/barra-produto-home.png) repeat-x;
 	height: 76px;
 	position: absolute;
 	width: 1209px;
 	right: 60%;
 }


 .bg-lateral-barra1 {
 	background: url(../imgs/barra-dicas-home.png) repeat-y;
 	height: 76px;
 }


 .bg-lateral-contatos {
 	top: 241px;
 	background: url(../imgs/barra-produto-home.png) repeat-x;
 	height: 76px;
 	position: absolute;
 	width: 1209px;
 	right: 71%;
 }


 .bg-lateral-orcamento {
 	top: 63px;
 	background: url(../imgs/barra-produto-home.png) repeat-x;
 	height: 76px;
 	position: absolute;
 	width: 1209px;
 	right: 55%;
 }


 .fundo-produto-home {
 	background: url(../imgs/fundo-prod-home.png);
 	overflow: hidden;
 	padding-bottom: 20px;
 }


 .fundo-produto-home img{
 	-webkit-box-shadow: inset 0px 0px 186px 86px rgba(210,209,209,1);
 	-moz-box-shadow: inset 0px 0px 186px 86px rgba(210,209,209,1);
 	box-shadow: inset 0px 0px 186px 86px rgba(210,209,209,1);
 }

 .btn-transparente-home{
 	background: none;
 	color: #000;
 	border-radius: 4px;
 	border: 1px solid #000;
 	font-weight: 300;
 	font-size: 17px;
 	margin-top: 15px;
 }

 .btn-transparente-home:hover, .btn-transparente-home:focus{
 	color:#fff;
 }


 .fundo-produto-home p {
 	height: 196px;
 	overflow: hidden;
 }


 .fundo-produto-home h1 {
 	max-height: 70px;
 	overflow: hidden;
 }


 .slider-home .carousel-indicators li {
 	background: #343434;
 	border-radius: 50%;
 	border: none;
 	color: #343434;
 	height: 25px;
 	opacity: 0.5;
 	width: 25px;
 }
 .slider-home .carousel li {
 	margin-right: 8px !important;
 }

 .slider-home .carousel-indicators .active {
 	opacity: 1;
 	background: #343434;
 }

 .slider-home .carousel-indicators {
 	bottom: -38px;
 }

 .slider-home .carousel-indicators {
    width: 11%;
    margin-left: -5%;
}

 .controles1,.controles1:hover,.controles1:focus{
 	z-index: 20;
 	background: none;
 	color: #343434;
 	font-size: 20px;
 	height: 50px;
 	opacity: 1;
 	text-align: center;
 	top: 547px;
 	width: 50px;
 }

 .controles1.right {
 	top: 99%;
 	background: none;
 	right: 40%;
 }

 .controles1.left {
 	top: 99%;
 	background: none;
 	left: 40%;
 }

 .slider-home .carousel-inner {
 	z-index: 111;
 	width: 100%;
 }

 .slider-home .carousel{
 	z-index: 111;
 	position: relative;
 	width: 100%;
 }


 .bg-triangulo{
    top: 1280px;
 	height: 1153px;
 	background: url(../imgs/bg-triaagulo.png) repeat-x;
 	position: absolute;
 	width: 889px;
 	right: 60%;
 	z-index: 100;
 }

 .conheca-mais h1{
 	font-weight: 300;
 	font-size: 28px;
 	color: #010101;
 }

 .conheca-mais p{
 	max-height:418px;
 	overflow:hidden;
 }

 .dicas-home{
 	position: relative;
 	background: #343434;
 }

 .dicas-home p{
 	overflow: hidden;
 	height: 84px;
 	color :#fff;
 }

 .btn-transparente-home1, .btn-transparente-home1:hover, .btn-transparente-home1:focus {
 	background: none;
 	color: #fff;
 	border-radius: 4px;
 	border: 1px solid #fff;
 	font-weight: 300;
 	font-size: 17px;
 	margin-top: 15px;
 }


 .portifolio{
 	height: 77px;
 	background: #343434;
 }

 .portifolio h4{
 	padding-bottom: 5px;
 	border-bottom: 2px solid #fff;
 }
/**
============================================
					home
============================================
*/


/**
============================================
					EMPRESA
============================================
*/
.bg-empresa{
	margin-top: -37px;
	height: 416px;
}

.descricao-empresa{
	margin-top: -50px;
	height: 93px;
	background: url(../imgs/barra-descricao-empresa.png) center no-repeat;

}

.descricao-empresa p {
	height: 55px;
	overflow: hidden;
	color: #fff;
	font-weight: 300;
}


.carroucel-descricao{
	position: relative;
	height: 707px;
	background: url(../imgs/triangulo-empresa.png) right no-repeat;
}


.carroucel-descricao .carousel-control {
	font-size: 34px;
	color: #fff;
	opacity: 2.5;
}

.carroucel-descricao .carousel-control.left {
	padding-top: 7px;
	position: absolute;
	z-index: 999;
	background: url(../imgs/seta-direita.png) center top no-repeat;
	width: 74px;
	height: 78px;
	left: 11%;
	top: 300px;
}

.carroucel-descricao .carousel-control.right{
	padding-top: 7px;
	position: absolute;
	z-index: 999;
	background: url(../imgs/seta-direita.png) center top no-repeat;
	width: 74px;
	height: 78px;
	right: 70%;
	top: 300px;
}


.descricao-bg-home h1{
	font-weight: 700;
	font-size: 20px;
	color: #010101;
}

.descricao-bg-home p{
	overflow:hidden;
	max-height:223px;
}

.descricao-bg-home {
	top: 31%;
	position: absolute;
}

.fundo-degrader {
	height: 298px;
}

.fundo-degrader h1{
	font-size: 24px;
	color: #fff;
	font-weight: 700;

}

.carroucel-descricao .carousel-inner {
	left: 57%;
	position: relative;
	width: 28%;
	overflow: hidden;
}
/**
============================================
					EMPRESA
============================================
*/


/**
============================================
					dicas
============================================
*/

.bg-dicas{
	margin-top: -37px;
	height: 416px;

}

.fundo-form,.btn-pesquisa,.btn-pesquisa:hover,.btn-pesquisa:focus{
	color: #fff;
	background: #1a1a1a;
}

.dica-dentro h1{
	font-family:"Lato Black";
	font-weight: 700;
}

.dica-dentro img{
	width:74% !important;
}


.dica-dentro1 h1{
	font-family:"Lato Black";
	font-weight: 700;
}


.triangulo-grande{
	height: 1147px;
	background: url(../imgs/triangulo-grande-dicas.png) repeat-x;
	position: absolute;
	width: 530px;
	left: 60%;
}

.posicao{
	position: relative;
}


.imagem{
	position: relative;
}

.borda-portifolio {
    top: 20px;
    left: 130px;
    height: 215px;
    width: 317px;
    border: 10px solid #fff;
    position: absolute;
}

.borda-interna1{
	top: 20px;
	left: 20px;
	height: 283px;
	width: 316px;
	border: 10px solid #fff;
	position: absolute;
}

.posicao1{
	position:relative;
}

.triangulo-portifolio {
    height: 917px;
    background: url(../imgs/triangulo-empresa.png) repeat-x;
    position: absolute;
    width: 530px;
    left: 60%;
}


.bg-triangulo-portifolio{

}
/**
============================================
					dicas
============================================
*/

/**
============================================
					especificacoes
============================================
*/


.bg-especificacoes{
	margin-top: -37px;
	height: 416px;
}

.dicas-especificacoes{
	position: relative;

}

/**
============================================
					especificacoes
============================================
*/


/**
============================================
					FALE CONOSCO
============================================
*/

.bg-fale-conosco{
	margin-top: -37px;
	height: 416px;
	background: url(../imgs/bg-fale-conosco.jpg) top center no-repeat;

}

.subir-navs{
	position: relative;
	margin-top: -108px;
}





.fale-conosco{
	color: #fff;
	padding-top: 39px;
	background: url(../imgs/icon-fale-conosco1.png) left 41px no-repeat;
	border-radius: 5px;
}

.fale-conosco:hover, .menu-fale-conosco.active {
	padding-top: 39px;
	background:  url(../imgs/icon-fale-conosco.png) left 41px no-repeat;
}


.trabalhe-conosco{
	color: #fff;
	padding-top: 39px;
	background:  url(../imgs/icon-trabalhe1.png) left 41px no-repeat;
	border-radius: 5px;
}

.trabalhe-conosco:hover,.menu-trabalhe-conosco.active{
	padding-top: 39px;
	background:  url(../imgs/icon-trabalhe.png) left 41px no-repeat;
}

.subir-navs .nav-tabs li{
	text-align: center;
	width: 38%;

}

.subir-navs .nav-tabs{
	border: none;

}

.subir-navs,.nav-tabs>li a{
	height: 39px;
	color: #868686;

}

.subir-navs,.nav-tabs>li a:hover{
	border: none;
	color: #fff;

}

.subir-navs .nav-tabs>li.active>a{
	color: #fff;
	background:none;
	border: none;
}

.FormCurriculo label,.FormContato label{
	font-weight: 300;
	font-size: 20px;
	color: #343434;
}

.btn-formulario{
	background: #343434;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
}
.btn-formulario:hover{
	color: #fff;
	background: #434244;
}

.fundo-form1{
	background: #fff;
}

.bg-fale {
	top: 40px;
	background: url(../imgs/triangulo-fale-conosco.png) repeat-x;
	height: 1146px;
	position: absolute;
	width: 706px;
	left: 50%;
	z-index: -1;
}

.bg-fale1 {
	top: 40px;
	background: url(../imgs/triangulo-trabalhe-conosco.png) repeat-x;
	height: 1146px;
	position: absolute;
	width: 706px;
	left: 50%;
	z-index: -1;
}
/**
============================================
					FALE CONOSCO
============================================
*/

/**
============================================
					PRODUTOS
============================================
*/

.bg-produtos{
	margin-top: -37px;
	height: 416px;
}

.bg-lateral-pagina{
	background: url(../imgs/img-lateral.jpg) right top no-repeat;
}


.bg-lateral-pequena{
	background: url(../imgs/bg-lateral-pequena.jpg) 0px top no-repeat;
	height:500px;
}


.bg-lateral-fora{
	background: url(../imgs/bg-lateral-fora.jpg) right top no-repeat;
}


.menu-produtos li a {
	font-size: 17px;
	color: #000;
	font-weight: 300;
}

.descricao-empresa .navbar-nav li a:hover{
	color: #b0afb5;
}
.descricao-empresa .navbar-nav li {
	margin-top: 18px;
	height: 51px;
	border-right: 2px solid #fff;
}

.descricao-empresa .input-group .form-control {
    height: 50px;
		border-radius: 0px;
		border:0px;
		border-right: 0;
}

.descricao-empresa .input-group-btn:last-child>.btn, .descricao-empresa .input-group-btn:last-child>.btn-group {
    height: 50px;
		border:0;
		border-left: 0;
}

.descricao-empresa .navbar-nav li a {
	background: none !important;
	padding-right: 0px;
	font-size: 11px;
	color: #fff;
	font-weight: 300;
}


.menu-destaques {
	padding: 14px 19px 0px 0px;
	background: url(../imgs/icon-destaques.png) center -4px no-repeat;
}

.menu-portas {
	padding: 6px 19px 0px 0px;
	background: url(../imgs/icon-produto1.png) center 0px  no-repeat;
}

.menu-metalica {
	padding: 14px 19px 0px 0px;
	background: url(../imgs/icon-metalica.png) center -4px no-repeat;
}

.menu-portoes {
	padding: 14px 19px 0px 0px;
	background: url(../imgs/icon-portoes.png) center -4px no-repeat;
}

.menu-grades {
	padding: 14px 19px 0px 0px;
	background: url(../imgs/icon-grades.png) center -4px no-repeat;
}


.btn-cinza{
	border-radius: 0px;
	font-size: 17px;
	font-weight: 700;
	color: #fff;
	background: #767676;
}

.btn-cinza:hover{
	color: #fff;
	background: #4f524f;
}
.fa-shopping-cart:before {
	margin-right: 8px;
}

.btn-cinza1,.btn-cinza1:hover{
	cursor: inherit;
	padding: 22px 17px;
	border-radius: 0px;
	font-size: 17px;
	font-weight: 700;
	color: #fff;
	background: #767676;
}
.descricao-produtos img{
	margin-right: 10px;
}

.media-left, .media-right, .media-body {
	display: table-cell;
	vertical-align: middle;
}

.descricao-produtos-internos {
	top: 4%;
	position: absolute;
}

.carroucel-descricao1 .carousel-inner {
	left: 62%;
	position: relative;
	width: 32%;
	overflow: hidden;
}

.carroucel-descricao1{
	width:105%;
	position: relative;
	height: 707px;
	background: url(../imgs/triangulo-empresa.png) right no-repeat;
}


.carroucel-descricao1 .carousel-control {
	font-size: 34px;
	color: #fff;
	opacity: 2.5;
}

.carroucel-descricao1 .carousel-control.left {
	padding-top: 7px;
	position: absolute;
	z-index: 999;
	background: url(../imgs/seta-direita.png) center top no-repeat;
	width: 74px;
	height: 78px;
	left: 61%;
	top: 588px;
}


.carroucel-descricao1 .carousel-control.right {
	padding-top: 7px;
	position: absolute;
	z-index: 999;
	background: url(../imgs/seta-direita.png) center top no-repeat;
	width: 74px;
	height: 78px;
	right: 10%;
	top: 588px;
}


/**
============================================
					PRODUTOS
============================================
*/


/**
============================================
					orcamento
============================================
*/
.bg-orcamento{
	margin-top: -37px;
	height: 416px;
	background: url(../imgs/bg-orcamento.jpg) top center no-repeat;
}

.btn-vermelho {
	background: #ec3d35;
	border: 1px solid #ec3d35;
	color: #fff;
}

.form-orcamento h4{
	color: #343434;
}


.input-lista-prod-orcamentos {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.tb-lista-itens td{
	vertical-align: middle !important;
}
/**
============================================
					orcamento
============================================
*/



/**
============================================
					PORTFOLIO
============================================
*/

.bg-portifolio{
	margin-top: -37px;
	height: 416px;

}


.bg-interna{
	margin-top: -37px;
	height: 416px;
}

.menu .flexslider{
	border: none !important;
}


.menu .flexslider .slides img {
	width: 69%;
	display:inherit;
}


.menu .flexslider {
	height: 90px;
	margin: 0 0 0px;
	background: none;
}

.menu .flex-direction-nav a {
	margin: -52px 0 0;
}
/**
============================================
					PORTFOLIO
============================================
*/

.conteudo .carousel-caption {
	right: 0%;
	left: 19%;
	padding-bottom: 30px;
}

.lista-categoria {
	float: left !important;
}

.desc-categoria {
	background: rgba(112,112,112,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(112,112,112,1) 0%, rgba(149,149,149,1) 59%, rgba(158,158,158,1) 74%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(112,112,112,1)), color-stop(59%, rgba(149,149,149,1)), color-stop(74%, rgba(158,158,158,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(112,112,112,1) 0%, rgba(149,149,149,1) 59%, rgba(158,158,158,1) 74%);
	background: -o-radial-gradient(center, ellipse cover, rgba(112,112,112,1) 0%, rgba(149,149,149,1) 59%, rgba(158,158,158,1) 74%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(112,112,112,1) 0%, rgba(149,149,149,1) 59%, rgba(158,158,158,1) 74%);
	background: radial-gradient(ellipse at center, rgba(112,112,112,1) 0%, rgba(149,149,149,1) 59%, rgba(158,158,158,1) 74%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#9e9e9e', GradientType=1 );
	height: 149px;
	overflow: hidden;
	vertical-align: middle;
	display: table-cell;
	width: 146px;
}

.desc-categoria h1 {
	margin-top:28px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
}

.desc-categoria p {
	font-size: 15px;
	color: #ffffff;
	text-decoration: overline;
	text-align: center;
}

.fundo-portifolio{
	overflow:hidden;
	background:#343434;
}


.slider-prod .media-middle{
	height: 63px;
}



.menu-categorias .flexslider .slides img{
	width: auto;
}




.menu-categorias .flexslider{
	background: none;
	border: none;
	margin-top: 9px;
	    height: 40px;
    overflow: hidden;
}


.menu-categorias .flexslider .slides li{
	border-right: 1px solid #fff;
	    display: flex !important;
    vertical-align: middle;
    height: 40px;
}


.menu-categorias  .flexslider li:last-child{
	border-right: none !important;
}


.menu-categorias h4{
	font-size: 15px;
	color: #fff;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}


.lista-galeria{
	border: 10px solid #fff;
	bottom: 0px;
	height: 96%;
    margin: 0px 10px 10px 10px;
    padding: 0px;
}



.carrousel-produto-dentro .carousel-control.left,
.carrousel-produto-dentro .carousel-control.right{
	background: none;
	color: #343434;
}



.carrousel-produto-dentro .carousel-control{
	height: 35px;
    top: inherit;
    bottom: -37px;
}



.carrousel-produto-dentro .carousel-indicators{
	bottom: -40px;
}

.carrousel-produto-dentro .carousel-indicators li{
	width: 25px;
	height: 25px;
	background: #909090;
	border: none;
	border-radius: 50%;
}

.carrousel-produto-dentro .carousel-indicators .active{
	background: #343434;
}



.telefone-topo h4{
	font-size: 22px;
}



.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 20px;
	padding-bottom: 10px;
}


.lista-itens-carrinho h1{
	font-size: 20px;
}


.bg-portfolio-2{
	background: url(../imgs//bg-portifolio-2.jpg) repeat-y;
	height: 470px;
	padding-top: 15px;
	z-index: 9999;
	position: relative;
}


.bg-portfolio-2 h1{
	font-size: 25px;
	color: #fff;
}

.linha-branca{
	border-bottom: 1px solid #fff;
}


.bg-port-2{
	background: #343434;
	overflow: hidden;
	height: 220px;
}



.telefone-topo{
	position: absolute;
	top: 0px;
	right: 0px;
	background: #343434;
	padding: 8px;
}

.telefone-topo h1{
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}
