@charset "utf-8";

/* CSS Geral BASIC */


/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
font-family: 'Lato', sans-serif;
font-family:"Lato Black";
*/

@import url('./fonts.css');

/* Reset */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none;}
/* End Reset */



.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top30 { margin-top:30px; }
.top35 { margin-top:35px; }
.top40 { margin-top:40px; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top130 { margin-top:130px; }
.top140 { margin-top:140px; }
.top150 { margin-top:150px; }
.top170 { margin-top:170px; }
.top190 { margin-top:190px; }
.top195 { margin-top:195px; }
.top270 { margin-top:270px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left130 { margin-left:130px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right130 { margin-right:130px; }

.pt10 { padding-top:10px; }
.pt15 { padding-top:15px; }
.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt45 { padding-top:45px; }
.pt50 { padding-top:50px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt170 { padding-top:170px; }
.pt300 { padding-top:300px; }

.pl5 { padding-left:5px; }
.pl15 { padding-left:15px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }
.pl40 { padding-left:40px; }
.pl45 { padding-left:45px; }
.pl50 { padding-left:50px; }
.pl60 { padding-left:60px; }
.pl80 { padding-left:80px; }
.pl100 { padding-left:100px; }
.pl300 { padding-left:300px; }


.pr15 { padding-right:15px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }
.pr40 { padding-right:40px; }
.pr45 { padding-right:45px; }
.pr50 { padding-right:50px; }
.pr60 { padding-right:60px; }
.pr80 { padding-right:80px; }
.pr100 { padding-right:100px; }
.pr300 { padding-right:300px; }


.pb10 { padding-bottom:10px; }
.pb15 { padding-bottom:15px; }
.pb20 { padding-bottom:20px; }
.pb25 { padding-bottom:25px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px !important; }
.pb50 { padding-bottom:50px; }
.pb60 { padding-bottom:60px; }
.pb70 { padding-bottom:70px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb280 { padding-bottom:280px; }
.pb300 { padding-bottom:300px; }

.pd0{
	padding: 0px;
}

.container {
	max-width: 480px;
}

.input100 {
	width: 100% !important;
}



body {
	background: #ededed;
	font-family: 'Lato', sans-serif;
}

.padding0{
	padding:0px !important;
}

h1 {
	font-size: 20px;
	color: #626262;
}
h1 span {
	font-size: 14px;
	color: #010101;
	font-weight: 700;
}	

h2 {
	color: #010101;
	font-size: 15px;
	font-style: italic;
}

h2 span{
	font-family:"Lato Black";
}


h3 {
	font-family:"Lato Black";
	font-size:25px;
	color:#fff;
	text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.75);
}

h3 span{
	font-weight:400;
	font-size:11px;
	color:#fff;
}

h4{
	font-weight: 400;
	font-size:15px;
	color: #fff;
}

h4 span{
	font-size:11px;
}

h5{
	color: #010101;
	font-size: 20px;
	font-family:"Lato Black";

}

h5 span{
	color: #000;
	font-size: 17px;

}

h6 {
	color: #fff;
	font-size: 20px;		
	font-weight: 700;
}

p {
	color:#010101;
	font-size:14px;
	text-align: justify;
}


a:hover {
	text-decoration: none;
}


label span{
	font-family: 'Lato', sans-serif;
}



/**
============================================
					RODAPE
============================================
*/

.bg-fundo-preto{
	position: relative;
	background: #000;
}

.bg-fundo-preto p{
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	padding: 10px 0px;
	text-align: center;
}


.fundo-form{
	background:#1a1a1a;
}

.fundo-form,.btn-pesquisa,.btn-pesquisa:hover,.btn-pesquisa:focus{
	color: #fff;
	background: #1a1a1a;
}


/**
============================================
					RODAPE
============================================
*/





/**
============================================
					HOME
============================================
*/

.bg-topo{
	background: url(../imgs/bg-topo.jpg) top center no-repeat;
}

.padding0{
	padding: 0px;
}

.btn-menu, .btn-menu:hover, .sub-menu, .sub-menu.dropdown-menu>li>a{
	background: #343434;
	color: #fefefe;
	font-size: 18px;
}


.sub-menu.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}

.btn-pesquisa-topo{
	padding: 10px 0px 0px 10px;
}


.topo-telefone{
	height: 50px;
	background: #1a1a1a;
	margin-top: 10px;
	color: #fff;
	position: relative;
	z-index: 20;
	width: 98%;
	margin-left: 5px;
}

.topo-telefone i, .topo-telefone .caret{
	color: #fff;
}

.topo-telefone h1{
	font-size: 14px;
	color: #fefefe;
	font-weight: 400;
	line-height: 50px;
}


.topo-telefone-2{
	background: #343434;
	height: 50px;
	font-size: 15px;
	color: #ffffff;
	font-weight: 700;
	padding-left: 5px;
	padding-right: 5px;
}

.btn-topo-telefone{
	height: 20px;
	font-size: 13px;
	color: #fff;
	font-weight: 700;
	background: #df0000;
	padding: 5px 10px;
	line-height: 9px;
	border-radius: 0px;
}



.form-busca-topo {
	width: 310px;
}

.linha-divisoria{
	width: 3px;
	background: #343434;
	height: 50px;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.padding0{
	padding: 0px !important;
}


.slider-index{
	margin-top: -45px;
}

/* Carousel base class */
.slider-index .carousel {
	height: 498px;
}
/* Since positioning the image, we need to help out the caption */
.slider-index .carousel-caption {
	z-index: 10;
	top: 145px;
	left: 5%;
	text-align: left;
}

/* Declare heights because of positioning of img element */
.slider-index .carousel .item {
	height: 498px;
	background-color: #777;
}
.slider-index .carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 498px;
}


.slider-index .carousel-caption h1{
	font-size: 26px;
	color: #fff;
	text-shadow: -2px -1px 2px rgba(150, 150, 150, 1);
	margin-bottom: 10px;
}


.slider-index .carousel-indicators{
	bottom: 230px;
	left: 30%;
	width: 18%;
}



.slider-index .carousel-indicators li{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: none;
	background: #fff;
}

.slider-index .carousel-indicators li.active{
	width: 20px;
	height: 20px;
	background: #fff;
	opacity:0.50;
	-moz-opacity: 0.50;
	filter: alpha(opacity=50);
}


.btn-transparente, .btn-transparente:hover{
	background: none;
	font-size: 11px;
	font-weight: 700;
	border: 2px solid #fff;
	border-radius: 4px;
	color: #fff;
	text-shadow: -2px -1px 2px rgba(150, 150, 150, 1);
}

.cat-index{
	margin-top: -60px;
	position: relative;
	z-index: 10;
}


.bg-categorias{
	background: url(../imgs/bg-categorias.jpg) bottom center no-repeat;
	padding-bottom: 10px;
}




.desc-categoria{
	background: rgba(112,112,112,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(112,112,112,1) 0%, rgba(149,149,149,1) 59%, rgba(158,158,158,1) 74%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(112,112,112,1)), color-stop(59%, rgba(149,149,149,1)), color-stop(74%, rgba(158,158,158,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(112,112,112,1) 0%, rgba(149,149,149,1) 59%, rgba(158,158,158,1) 74%);
	background: -o-radial-gradient(center, ellipse cover, rgba(112,112,112,1) 0%, rgba(149,149,149,1) 59%, rgba(158,158,158,1) 74%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(112,112,112,1) 0%, rgba(149,149,149,1) 59%, rgba(158,158,158,1) 74%);
	background: radial-gradient(ellipse at center, rgba(112,112,112,1) 0%, rgba(149,149,149,1) 59%, rgba(158,158,158,1) 74%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#9e9e9e', GradientType=1 );
	height: 120px;
	overflow: hidden;
	vertical-align: middle;
	display: table-cell;
	width: 146px;
}

.desc-categoria h1{
	font-size: 15px;
	color: #ffffff;
	text-align: center;
}


.desc-categoria p{
	font-size: 12px;
	color: #ffffff;
	text-decoration: overline;
	text-align: center;
}


.titulo-destaque{
	height: 50px;
	background: #343434;
	-webkit-box-shadow: -2px 11px 8px -4px rgba(0,0,0,0.54);
	-moz-box-shadow: -2px 11px 8px -4px rgba(0,0,0,0.54);
	box-shadow: -2px 11px 8px -4px rgba(0,0,0,0.54);
}

.titulo-destaque h6{
	line-height: 50px;
}


.btn-transparente, .btn-transparente:hover{
	background: none;
	color: #000000;
	border: 1px solid #000000;
	text-shadow: none;
}

.lista-produto{
	padding-top: 10px;
	margin-bottom: 34px;
	background: rgba(237,237,237,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(237,237,237,1) 0%, rgba(223,223,223,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(237,237,237,1)), color-stop(100%, rgba(223,223,223,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(237,237,237,1) 0%, rgba(223,223,223,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(237,237,237,1) 0%, rgba(223,223,223,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(237,237,237,1) 0%, rgba(223,223,223,1) 100%);
	background: radial-gradient(ellipse at center, rgba(237,237,237,1) 0%, rgba(223,223,223,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dfdfdf', GradientType=1 );
}

.lista-produto p{
	height: 124px;
	overflow: hidden;
}


#carousel-example-generic-produtos .carousel-control.right, #carousel-example-generic-produtos .carousel-control.left{
	background: none;
	bottom: 0px;
	top: inherit;
	z-index: 100;
	color: #343434;
}


#carousel-example-generic-produtos .carousel-control.left{
	left: 148px;
}

#carousel-example-generic-produtos .carousel-control.right{
	right: 150px;
}

#carousel-example-generic-produtos .carousel-indicators {
	bottom: 0px;
}

#carousel-example-generic-produtos .carousel-indicators li{
	width: 20px;
	height: 20px;
	background: #909090;
	border: none;
	margin-top: 0px;
	padding: 0px;
}

#carousel-example-generic-produtos .carousel-indicators .active{
	background: #343434;
}

#carousel-example-generic-produtos .fa{
	font-size: 30px;
}

.bg-conheca-lider{
	background: url(../imgs/bg-conheca-a-lider.jpg) top left no-repeat;
	height: 295px;
}





.portifolio{
	height: 40px;
	background: #343434;
}

.portifolio h4{
	padding-bottom: 5px;
	border-bottom: 2px solid #fff;
}

.fundo-cinza{
	overflow:auto;
	background: #343434;
}


.dicas-home{
	position: relative;
	background: #313131;
	min-height: 335px;
}

.dicas-home p{
	overflow: hidden;
	color:#fff;
}

.borda-interna1 {
	top: 10px;
	left: 10px;
	height: 165px;
	width: 189px;
	border: 8px solid #fff;
	position: absolute;
}


.borda-interna {
	top: 10px;
	left: 10px;
	height: 135px;
	width: 152px;
	border: 8px solid #fff;
	position: absolute;
}


.borda-portifolio {
	top: 10px;
	left: 10px;
	height: 114px;
	width: 152px;
	border: 8px solid #fff;
	position: absolute;
}



.btn-transparente-home1, .btn-transparente-home1:hover, .btn-transparente-home1:focus {
	background: none;
	color: #fff;
	border-radius: 4px;
	border: 1px solid #fff;
	font-weight: 300;
	font-size: 12px;
	margin-top: 15px;
}



/**
============================================
					EMPRESA
============================================
*/
.bg-empresa{
	margin-top: -45px;
	height: 347px;
	background: url(../imgs/bg-empresa.jpg) top center no-repeat;
}

.descricao-empresa{
	margin-top: -27px;
	height: 59px;
	background: url(../imgs/barra-dicas-home.png) center no-repeat;

}

.descricao-empresa p{
	height: 41px;
	overflow: hidden;
	color: #fff;
	font-weight: 300;
}


.descricao-bg-home {
	top: 31%;
	position: absolute;
}



.carroucel-descricao{
	position: relative;
	height: 502px;
	background: url(../imgs/triangulo-empresa.png) right no-repeat;
}


.carroucel-descricao .carousel-control {
	font-size: 34px;
	color: #fff;
	opacity: 2.5;
}

.carroucel-descricao .carousel-control.left {
	position: absolute;
	z-index: 999;
	background: none;
	width: 30px;
	height: 67px;
	left: 11%;
	top: 288px;
}

.carroucel-descricao .carousel-control.right{ 
	position: absolute;
	z-index: 999;
	background: none;
	width: 30px;
	height: 67px;
	right:58%;
	top: 288px;
}

.carroucel-descricao .carousel-inner {
	left: 57%;
	position: relative;
	width: 28%;
	overflow: hidden;
}

.descricao-bg-home h1{
	font-weight: 700;
	font-size: 15px;
	color: #010101;
}

.descricao-bg-home {
	top: 14%;
	position: absolute;
}

.fundo-degrader {
	height: 298px;
}

/*.fundo-degrader h1{
	font-size: 24px;
	color: #fff;
	font-weight: 700;

	}*/
/**
============================================
					EMPRESA
============================================
*/


/**
============================================
					DICAS
============================================
*/

.bg-dicas{
	margin-top: -45px;
	height: 347px;
}


.bg-interna{
	margin-top: -45px;
	height: 347px;
}

:@input-color-placeholder{
	color:#fff;
}


.posicao{
	position: relative;
}

.posicao1{
	position: relative;
}

.imagem {
	position: relative;
}

.triangulo-grande {
    background: url(../imgs/triangulo-grande-dicas.png) top no-repeat;
    min-height: 290px;
}

.dica-dentro h1{
	font-family:"Lato Black";
	font-weight: 700;
}




/**
============================================
					DICAS
============================================
*/


/**
============================================
					ESPECIFICACOES
============================================
*/

.bg-especificacoes{
	margin-top: -45px;
	height: 347px;
	background: url(../imgs/bg-especificacoes.jpg) top center no-repeat;
}

.dicas-especificacoes{
	position: relative;

}

/**
============================================
					ESPECIFICACOES
============================================
*/


/**
============================================
	FALE CONOSCO E TRABALHE CONOSCO
============================================
*/

.bg-fale-conosco{
	margin-top: -45px;
	height: 347px;
	background: url(../imgs/bg-fale-conosco.jpg) top center no-repeat;
}



.subir-navs{
	position:relative;
}
.subir-navs .nav-tabs>li {
	height:40px;
	float: left;
}


.subir-navs .nav-tabs>li>a,.subir-navs .nav-tabs {
	border:0px;
	height:40px;
	color:#fff;
}


.subir-navs .nav>li>a:hover,.subir-navs .nav>li>a:focus {
	height:40px;
	border:none;
	background:none;
}


.FormCurriculo label,.FormContato label{
	font-weight: 300;
	font-size: 15px;
	color: #000;
}

.btn-formulario{
	font-family:"Lato Black";
	background: #343434;
	font-size: 12px;
	color: #fff;
}
.btn-formulario:hover{
	color: #fff;
	background: #434244;
}

.fundo-form1{
	background: #fff;
}

.bg-fale {
	top: 40%;
	background: url(../imgs/triangulo-fale-conosco.png) repeat-x;
	height: 296px;
	position: absolute;
	width: 227px;
	left: 53%;
	z-index: -1;
}

.bg-fale1 {
	top: 40%;
	background: url(../imgs/triangulo-trabalhe-conosco.png) repeat-x;
	height: 296px;
	position: absolute;
	width: 227px;
	left: 53%;
	z-index: -1;
}


.btn-vermelho{
	margin-left:15px;
	color:#fff;
	font-size:13px;
	font-family:"Lato Black";
	border-radius:0px;
}		

/**
============================================
	FALE CONOSCO E TRABALHE CONOSCO
============================================
*/


/**
============================================
	PRODUTOS E PRODUTOS INTERNOS
============================================
*/

.bg-produtos{
	margin-top: -45px;
	height: 347px;
	background: url(../imgs/bg-produtos.jpg) top center no-repeat;
}

.menu .flexslider{
	border: none !important;
}

.menu{
	margin-top:-27px;
	
}

.menu .flexslider .slides img {
	width: 21%;
	display:inherit;
}


.menu .flexslider {
	height: 80px;
	margin: 0 0 0px;
	background: url(../imgs/barra-produtos.png) center no-repeat;
}

.menu .flex-direction-nav a {
	margin: -34px 0 0;
}


.tabs .flexslider {
	height: 50px;
	margin: 0 0 0px;
}


.tabs .flex-direction-nav a {
	margin: 0px 0 0;
}



.btn-cinza {
	padding: 12px 9px;
	border-radius: 0px;
	font-size: 17px;
	font-weight: 700;
	color: #fff;
	background: #767676;
}


.btn-cinza:hover {
	color: #fff;
	background: #4f524f;
}

.btn-cinza1, .btn-cinza1:hover {
	cursor: inherit;
	padding: 5px 9px;
	border-radius: 0px;
	font-size: 17px;
	font-weight: 700;
	color: #fff;
	background: #767676;
}

.navs-carroucel {
	top: 89%;
	width: 36%;
	left: 61%;
}

.navs-carroucel li {
	margin: 0px !important;
	display: inline-block;
	width: 20px;
	height: 20px;
	background:#343434;
	opacity:0.5;

}

.navs-carroucel li.active {
	display: inline-block;
	width: 20px;
	height: 20px;
	background:#343434;
	opacity:1;

}

.navs-carroucel li {
	margin-right: 0px !important;
}

.controles, .controles:hover,.controles:focus,.controles:active{
	color:#343434;
	top: 84% !important;
}

.controles.left{
	width:25px;
	height:25px;
	left:20%;
	background:none;
}

.controles.right {
	width:25px;
	height:25px;
	right:20%;
	background:none;
}

.relative{
	position: relative;
}

.tamanho-imagem img{
	width:106px;
}
/**
============================================
	PRODUTOS E PRODUTOS INTERNOS
============================================
*/



/**
============================================
	orcamento
============================================
*/

.tb-lista-itens td {
	vertical-align: middle !important;
}

.input-lista-prod-orcamentos {
	width: 30px;
	height: 30px;
	line-height: 40px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.flutuar{
	float:right;
}
/**
============================================
	orcamento
============================================
*/


.sombra-categorias{
	margin-top: -93px;
	background:  #737373;
}

 .sombra-categorias,.touchcarousel .touchcarousel-item {
 	margin: 0px  !important;
 	padding: 0px !important;
 	float: left; 
 }

 .sombra-categorias .touchcarousel {
 	position: relative;
 	width: 100%;
 	height: 118px;
 	overflow: hidden;
 }

 

.lista-categorias li.destaque{
 	background: #00aff2;
 }

 .lista-categorias li.destaque a{
 	color: #fff;
 }


 .lista-categorias li a{
 	color: #000;
 	font-size: 12px;
 }


 .desc-categoria {
	background: rgba(112,112,112,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(112,112,112,1) 0%, rgba(149,149,149,1) 59%, rgba(158,158,158,1) 74%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(112,112,112,1)), color-stop(59%, rgba(149,149,149,1)), color-stop(74%, rgba(158,158,158,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(112,112,112,1) 0%, rgba(149,149,149,1) 59%, rgba(158,158,158,1) 74%);
	background: -o-radial-gradient(center, ellipse cover, rgba(112,112,112,1) 0%, rgba(149,149,149,1) 59%, rgba(158,158,158,1) 74%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(112,112,112,1) 0%, rgba(149,149,149,1) 59%, rgba(158,158,158,1) 74%);
	background: radial-gradient(ellipse at center, rgba(112,112,112,1) 0%, rgba(149,149,149,1) 59%, rgba(158,158,158,1) 74%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#707070', endColorstr='#9e9e9e', GradientType=1 );
	height: 118px;
	overflow: hidden;
	vertical-align: middle;
	display: table-cell;
	width: 146px;
}

.desc-categoria h1 {
	margin-top:28px;
	font-size: 15px;
	color: #ffffff;
	text-align: center;
}

.desc-categoria p {
	font-size: 12px;
	color: #ffffff;
	text-decoration: overline;
	text-align: center;
}



/*==================================================
 * Effect 2
 * ===============================================*/
 .effect2
 {
 	position: relative;
 }
 .effect2:before, .effect2:after
 {
 	z-index: -1;
 	position: absolute;
 	content: "";
 	bottom: 15px;
 	left: 8px;
 	width: 50%;
 	top: 80%;
 	max-width:300px;
 	background: #777;
 	box-shadow: 0 15px 10px #777;
 	transform: rotate(-3deg);
 }
 .effect2:after
 {
 	transform: rotate(3deg);
 	right: 10px;
 	left: auto;
 }


 .lista-depoimentos{
 	background: url(../imgs/bg-lateral-direita.jpg) top right no-repeat;
 	min-height: 295px;
 }

 .lista-depoimentos .carousel .item{
 	min-height: 295px;
 }

.lista-depoimentos .carousel-control.left,
.lista-depoimentos .carousel-control.right{
	background: none !important;
}

 .lista-depoimentos .carousel-caption{
	    right: -163px;
 }

.lista-depoimentos .carousel-control{
	top: inherit;
}


.lista-depoimentos .carousel-control.left,
.lista-depoimentos .carousel-control.right{
	color: #343434;
}

.lista-depoimentos .carousel-indicators{
    bottom: -10px;
}


.lista-depoimentos .carousel-indicators li{
	width: 20px;
	height: 20px;
	background: #909090;
	border: none;
}


.lista-depoimentos .carousel-indicators .active{
	background: #343434;
}




.slider-prod-dentro .navs-carroucel{
	    top: 94%;
}


.slider-categorias .flexslider{
	background: none !important;
	border: none;
    margin-top: -60px;
}

.bg-portifolio-index{
	background: url(../imgs/bg-portfolio-index.jpg) repeat-y;	
	height: 235px;
	padding-top: 7px;
	padding-left: 5px;
}

.bg-portifolio-index h1{
	font-size: 14px;
	color: #fff;
}

.linha-branca{
	border-bottom: 1px solid #fff;
}




.bg-port-2{
	background: #343434;
	overflow: hidden;
	height: 108px;
}


.btn-transparente-2, .btn-transparente-2:hover {
	background: none;
	color: #fff;
	border: 1px solid #fff;
}




.topo-meu-orcamento{
	width: 420px;
}

.topo-meu-orcamento h1{
	margin-top: 6px;
	font-weight: 700;
	color: #000;
	font-size: 14px;
}

.topo-meu-orcamento{
	min-width: 196px;
	padding: 5px 9px;
}


.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 10px;
	padding-bottom: 5px;
}



.busca-topo{
	width: 270px;
	background: #000;
	color: #fff;
}


.btn-busca-topo{
	margin-left: 25px;
	background: #000;
	color: #fff;
	border: 1px solid #fff;
}




























